{$PUBLIC_HOST} {
  encode zstd gzip

  @metrics path /metrics
  respond @metrics 404

  @grafana path /grafana /grafana/*
  reverse_proxy @grafana grafana:3000

  reverse_proxy trader-helper:5173 {
    health_uri /health
    health_interval 30s
  }
}
